@font-face {
    font-family: Nunito;
    font-weight: 400;
    src: url("./Nunito-Regular.ttf");
}

@font-face {
    font-family: Nunito;
    font-weight: 400;
    font-style: italic;
    src: url("./Nunito-Italic.ttf");
}

@font-face {
    font-family: Nunito;
    font-weight: 500;
    src: url("./Nunito-SemiBold.ttf");
}

@font-face {
    font-family: Nunito;
    font-weight: 500;
    font-style: italic;
    src: url("./Nunito-SemiBoldItalic.ttf");
}

@font-face {
    font-family: Nunito;
    font-weight: 600;
    src: url("./Nunito-Bold.ttf");
}

@font-face {
    font-family: Nunito;
    font-weight: 600;
    font-style: italic;
    src: url("./Nunito-BoldItalic.ttf");
}